@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anuphan:wght@100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: #0B0E18;
}

@layer base {
  html {
    font-family: "Anuphan", system-ui, sans-serif;
  }
}